.card-group {
    display: flex;
    flex-wrap: wrap;
}

.container-sm {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 1; /* Ocupa todo el espacio disponible */
    margin: 5px;
}

.compra_venta {
    clear: both; 
}

.form-group {
    width: 100%; /* O ajusta según necesidades */
}

@media (min-width: 768px) {
    .card {
        flex: 0 0 calc(25% - 10px);
    }
}
