.apply{
    padding: 7px;
    margin: .3em .3em .3em .3em;
}

.edit{
    padding: 7px;
    margin: .3em .3em .3em .3em;
}

.delete{
    padding: 7px;
    margin: .3em .3em .3em .3em;
}

.taco{
    margin: 0 auto;
}
.Titulo{
    margin: 0 auto;
    width: 50%;
    text-align: center;
    align-self: center;
}